<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.beenlovememory">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Notification.App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- android:requestLegacyExternalStorage="true" xin quyen android 10-->
        <!-- tools:ignore="GoogleAppIndexingWarning" xin quyen android 10-->
        <!--android:largeHeap="true"-->
        <!--android:hardwareAccelerated="false" Hien bitmap mot so moi truong khong du bo nho-->
        <activity
            android:name=".ShowImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateLetterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WallpaperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LockScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LockSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InsertMemoryActivity"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".SplashActivity" /> -->
        <activity
            android:name=".ImagePickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ADMOB_APP_ID"/>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Notification.CreateNotification" />
        <!-- uCrop cropping activity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- cache directory file provider paths -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>